Repository dracon-china/dracon-lab: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-error-on-unmatched-pattern, stylelint --fix --allow-empty-input, prettier --write, eslint --fix, prettier --parser=typescript --write

.lintstagedrc:

{
  "*.{md,json}": ["prettier --write --no-error-on-unmatched-pattern"],
  "*.{css,less,scss,vue,html}": ["stylelint --fix --allow-empty-input", "prettier --write"],
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --parser=typescript --write"]
}

chore: 🤖 添加工作区 vscode 配置
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write --no-error-on-unmatched-pattern

feat: 🎸 初始化 markdownlint 配置
  pnpm-lock.yaml
  tools/markdownlint/index.json
  tools/markdownlint/package.json
Due: prettier --write --no-error-on-unmatched-pattern

chore: 🤖 添加安装自动化配置
  tools/markdownlint/package.json
  tools/markdownlint/scripts/postinstall.mjs
Due: prettier --write --no-error-on-unmatched-pattern

docs: ✏️ 添加使用文档
  tools/markdownlint/README.md
Due: prettier --write --no-error-on-unmatched-pattern

chore: 🤖 配置 markdownlint
  .markdownlint.json
  .markdownlintignore
  package.json
  pnpm-lock.yaml
Due: prettier --write --no-error-on-unmatched-pattern

docs: ✏️ 修复文档标题
  tools/commitlint/README.md
Due: prettier --write --no-error-on-unmatched-pattern

fix: 🐛 svg .*rc 文件解析
  tools/prettier/index.js
Due: prettier --write, eslint --fix

chore: 🤖 更新安装自动化配置
  tools/commitlint/scripts/postinstall.mjs
  tools/eslint/scripts/postinstall.mjs
  tools/prettier/scripts/postinstall.mjs
Due: none

chore: 🤖 更新配置
  .commitlintrc
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
Due: none

chore: 🤖 添加 ISSUE TEMPLATE 模板
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write --no-error-on-unmatched-pattern

chore(ci): 🤖 添加 test
  .github/workflows/test.yml
Due: none

chore(ci): 🤖 添加 release
  .github/workflows/release.yml
Due: none

chore: 🤖 更新依赖
  tools/commitlint/package.json
  tools/eslint/package.json
Due: prettier --write --no-error-on-unmatched-pattern

feat: 🎸 添加文档站
  apps/docs/.dumi/theme/slots/ContentFooter/index.tsx
  apps/docs/.dumi/theme/slots/Footer/index.tsx
  apps/docs/.dumirc.ts
  apps/docs/package.json
  apps/docs/public/logo.svg
  apps/docs/src/index.md
  apps/docs/src/resume/index.md
  apps/docs/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

fix: 🐛 修复自动安装配置 CWD
  tools/commitlint/scripts/postinstall.mjs
  tools/eslint/scripts/postinstall.mjs
  tools/markdownlint/scripts/postinstall.mjs
  tools/prettier/scripts/postinstall.mjs
  tools/stylelint/scripts/postinstall.mjs
  tools/tsconfig/scripts/postinstall.mjs
Due: none

feat: 🎸 giscus 配置
  apps/docs/.dumi/theme/slots/ContentFooter/index.tsx
Due: eslint --fix, prettier --parser=typescript --write

chore: 🤖 更新指令配置并添加说明
  .gitignore
  README.md
  lerna.json
  package.json
Due: prettier --write --no-error-on-unmatched-pattern

chore: 🤖 更新 path 及 pnpm 缓存
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: 🤖 更新 graph:build
  package.json
Due: prettier --write --no-error-on-unmatched-pattern

chore: 🤖 升级依赖并更新 .prettierignore
  .prettierignore
  package.json
  pnpm-lock.yaml
  tools/eslint/package.json
Due: prettier --write --no-error-on-unmatched-pattern

chore: 🤖 更新 pnpm-lock
  pnpm-lock.yaml
Due: none

feat: 🎸 更新 features 配置
  apps/docs/.dumirc.ts
Due: eslint --fix, prettier --parser=typescript --write

fix: 🐛 修复 lerna 配置
  .github/workflows/release.yml
  lerna.json
Due: prettier --write --no-error-on-unmatched-pattern

chore(release): publish
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  tools/commitlint/CHANGELOG.md
  tools/commitlint/package.json
  tools/eslint/CHANGELOG.md
  tools/eslint/package.json
  tools/markdownlint/CHANGELOG.md
  tools/markdownlint/package.json
  tools/prettier/CHANGELOG.md
  tools/prettier/package.json
  tools/stylelint/CHANGELOG.md
  tools/stylelint/package.json
  tools/tsconfig/CHANGELOG.md
  tools/tsconfig/package.json
Due: prettier --write --no-error-on-unmatched-pattern

chore: 🤖 添加 dumi tab 补丁
  apps/docs/.dumirc.ts
  apps/docs/tsconfig.json
  package.json
  patches/dumi@2.2.14.patch
  pnpm-lock.yaml
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

docs: ✏️ 更新 CHANGELOG 标题
  apps/docs/CHANGELOG.md
  tools/commitlint/CHANGELOG.md
  tools/eslint/CHANGELOG.md
  tools/markdownlint/CHANGELOG.md
  tools/prettier/CHANGELOG.md
  tools/stylelint/CHANGELOG.md
  tools/tsconfig/CHANGELOG.md
Due: prettier --write --no-error-on-unmatched-pattern

perf: ⚡️ 优化依赖包加载
  .gitignore
  apps/docs/.dumirc.ts
  apps/docs/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

perf: ⚡️ 优化为 SSG 渲染
  apps/docs/.dumirc.ts
Due: eslint --fix, prettier --parser=typescript --write

docs: ✏️ 新增 AI 导航
  apps/docs/src/ai/audio-tools.md
  apps/docs/src/ai/conversation-tool.md
  apps/docs/src/ai/imgs/写作工具/AISEO.png
  apps/docs/src/ai/imgs/图像工具/常用图像工具/稿定抠图.png
  apps/docs/src/ai/imgs/对话工具/Grok.png
  apps/docs/src/ai/imgs/对话工具/Kimi Chat.png
  apps/docs/src/ai/training-model.md
  apps/docs/src/ai/writing-tools.md
Due: prettier --write --no-error-on-unmatched-pattern

chore: 🤖 更新 nx accessToken
  nx.json
Due: prettier --write --no-error-on-unmatched-pattern
